<div class="issue">
    <strong class="comic-details-title">The Amazing Spider-Man</strong>
    <p>Volume <%= @comic.volume %> Issue <%= number_with_precision(@comic.issue, strip_insignificant_zeros: true) %></p>
</div>
