<div class="stats">
    You own <%= @comics.where(owned: true).count %> / <%= @comics.count %> of these issues.
    <% if @comics.count > 0 %> ( <%= number_with_precision(@percentage_owned, precision: 2, strip_insignificant_zeros: true)%> % ) <% end %>
</div>
