<div class="edit-comic-form">
    <%= render 'form', comic: @comic %>
    <%= link_to 'Back', comic_path(@comic), class: "back-to-comic"%>
</div>

    <%= link_to 'Index', comics_path({volume: @comic.volume}) %>
