<h1>New Story</h1>
<div class="add-story-form">
  <%= render 'form', story: @story %>
  <%= link_to 'Back', comic_path(@comic, {:issue => @comic.issue, :volume => @comic.volume}), :class => "back-to-comic"%>
</div>
